//-.main
.call
  .alert.alert-warning.alert-ie(ng-style="{display:ie?'inline-block':'none'}" style="display:none;")
    strong Vish...
    span  você está utilizando o Internet Explorer, a página deve estar toda cagada por causa da sua escolha ruim de navegador. Espero que você não utilize esse mesmo dedo podre pro amor! :(
                    
                    
